/* I wrote this code*/


/* Reset margins and padding for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* styles.css or your custom CSS file */



/* Apply some basic styling to the form */
form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}

/* Style the filter and reset buttons */
button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #dc3545;
    margin-left: 10px;
}

/* Style the table */
.table {
    width: 100%;
    margin: 20px auto;  /* Center the table and provide top/bottom margin */
    overflow-x: auto;  /* Allow horizontal scrolling if content is wider than the viewport */
}

.table th, .table td {
    text-align: center;
}

/* Style the link to the detail page */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: none; /* or your custom max-width value */
}

.button-container {
    display: flex;
    align-items: baseline; /* You can also use 'center' or other values */
}

/* Add space between the buttons */
.button-container button {
    margin-right: 10px; /* Adjust the value as needed */
}

button {
    margin-top: 0;
}

.mt-5 {
    margin-top: 1rem!important;
}

.alert {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.custom-navbar {
    background-color: #1f5a21 !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgb(250, 250, 250);
    text-decoration: none;
    white-space: nowrap;
}

.custom-btn {
    margin-bottom: 0; /* Remove bottom margin */
    background-color: rgb(10, 92, 21);
}

/* End of the code I wrote */