/* Reset margins and padding for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

/* form styling */
form {
    margin-bottom: 20px;
}

.form-group {
    margin-top: 20px; 
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}

/* filter and reset buttons */
button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #6a99ca;
    color: #fff;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #dc3545;
    margin-left: 10px;
}

/* table */
.table {
    width: 100%;
    margin: 20px auto;  
    overflow-x: auto;  
}

.table th, .table td {
    text-align: center;
}

/* detail page*/
a {
    color: #7f9fc2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: none; 
}

/* buttons style */
.button-container {
    display: flex;
    align-items: baseline; 
}

.button-container button {
    margin-right: 10px; 
}

button {
    margin-top: 0;
}

.btn-primary{
    background-color: #7f9fc2;
}

.mt-5 {
    margin-top: 3rem!important;
}

.alert {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* navigation bar */
.custom-navbar {
    background-color: #5E7F7E !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgb(250, 250, 250);
    text-decoration: none;
    white-space: nowrap;
}

/* custom button */
.custom-btn {
    margin-bottom: 0; 
    background-color: rgb(10, 92, 21);
}

/* custom table */
.custom-table th, .custom-table td {
    text-align: left;
}

.custom-table th {
    width: 30%; 
}
