{% extends 'specimen_catalog/base.html' %}

{% block title %}All Specimens{% endblock %}

{% block content %}
    <h1>All Specimens</h1>

    <!-- Includes the filter form -->
    {% include 'specimen_catalog/filters.html' %}

    <!-- Displays the number of results -->
    <p>Number of Results: {{ specimens.paginator.count }}</p>

    <div class="container mt-5">
        <div class="container mt-3">
            <h2>SPECIMENS TABLE</h2>          
            <!-- Includes the specimen table -->
            {% include 'specimen_catalog/specimen_table.html' %}

            <!-- Includes the pagination controls -->
            {% include 'specimen_catalog/pagination.html' %}
        </div>
    </div>

    <script>
        function resetFilters() {
            // Resets filter values to empty string
            var form = document.getElementById('filterForm');
            var filterFields = form.querySelectorAll('[name^="taxonomy"]');
            filterFields.forEach(function (field) {
                field.value = '';
            });

            // Triggers a form submission
            form.submit();
        }
    </script>
{% endblock %}
