<!-- templates/specimen_catalog/specimen_detail.html -->
{% extends 'specimen_catalog/master.html' %}

{% block content %}
    <h1>{{ specimen }}</h1>

    <!-- ... Existing content ... -->

    <a href="{% url 'specimen_update' pk=specimen.pk %}" class="btn btn-warning">Update Specimen</a>

    <a href="{% url 'expedition_update' pk=specimen.expedition_id %}" class="btn btn-warning">Update Expedition</a>

    <a href="{% url 'taxonomy_update' specimen_pk=specimen.pk %}" class="btn btn-warning">Update Taxonomy</a>

    <!-- Add the delete button with a link to the confirmation page -->
    <a href="{% url 'specimen_delete_confirm' pk=specimen.pk %}" class="btn btn-danger">Delete Specimen</a>

    <a href="{% url 'all_specimens' %}" class="btn btn-primary">Back to All Specimens</a>
{% endblock %}
