<!-- specimen_detail.html page -->
{% extends 'specimen_catalog/base.html' %}

{% block content %}
    <h1>{{ specimen }}</h1>

    <div class="row">
        <!-- Column 1: Specimen Documentation -->
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered custom-table">
                    <tbody>
                        <tr class="table-info">
                            <th colspan="2"><h4>SPECIMEN DOCUMENTATION</h4></th>
                        </tr>
                        <tr>
                            <td>Catalog Number:</td>
                            <td>{{ specimen.catalog_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <a href="{% url 'specimen_update' pk=specimen.pk %}" class="btn btn-warning">Update Specimen</a>

    <div class="row">
        <!-- Column 2: Expedition Documentation -->
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered custom-table">
                    <tbody>
                        <tr class="table-success">
                            <th colspan="2"><h4>EXPEDITION DOCUMENTATION</h4></th>
                        </tr>
                        <tr>
                            <td>Expedition:</td>
                            <td>
                                {% if specimen.expedition %}
                                   Expedition: {{ specimen.expedition.expedition }} |
                                   Continent: {{ specimen.expedition.continent }} |
                                    Country: {{ specimen.expedition.country }} 
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <a href="{% url 'expedition_update' pk=specimen.expedition_id %}" class="btn btn-warning">Update Expedition</a>


    <div class="row">
        <!-- Column 3: Classification -->
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered custom-table">
                    <tbody>
                        <tr class="table-warning">
                            <th colspan="2"><h4>CLASSIFICATION</h4></th>
                        </tr>
                        <tr>
                            <td>Taxonomy:</td>
                            <td>
                                {% if specimen.taxonomy %}
                                    Kindgom: {{ specimen.taxonomy.kingdom }} | 
                                    Phylum: {{ specimen.taxonomy.phylum }} | 
                                    Sub-Phylum: {{ specimen.taxonomy.highest_biostratigraphic_zone }} | 
                                    Class: {{ specimen.taxonomy.class_name }} |
                                    Order: {{ specimen.taxonomy.identification_description }} |
                                    Family: {{ specimen.taxonomy.family }} |
                                    Genus: {{ specimen.taxonomy.genus }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Species:</td>
                            <td>
                                {% if specimen.taxonomy %}
                                    {{ specimen.taxonomy.species }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{% url 'taxonomy_update' specimen_pk=specimen.pk %}" class="btn btn-warning">Update Taxonomy</a>
    <a href="{% url 'specimen_delete' pk=specimen.pk %}" class="btn btn-danger">Delete Specimen</a>
    <a href="{% url 'all_specimens' %}" class="btn btn-primary">Back to All Specimens</a>
{% endblock %}